/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


section.container{
    margin: 0px 40px;
}
.extra-space{
    flex: 1 1 auto;
}
.employee-form{
    margin: 10px;
}

.control-container{
    width: 100%;
    padding: 5px;
}
.control-container > * {
    width: 100%;
}
.bottom {
    padding-bottom: 10px;
}
mat-radio-group mat-radio-button {
    margin-left: 10px;
}
.button button {
    margin: 5px;
}
.container1{
    border: 1px solid gray;
    width: 70%;
    margin: 25px 200px;
    box-shadow: 5px 10px #888888;
}
